{
  "projectId": "",
  "environment": "staging|production",
  "authProviders": {
    "email": true,
    "google": {
      "enabled": true,
      "clientId": "",
      "clientSecret": ""
    },
    "apple": {
      "enabled": true,
      "serviceId": "",
      "teamId": "",
      "keyId": "",
      "privateKey": ""
    }
  },
  "firestore": {
    "region": "us-central1"
  },
  "flutter": {
    "appIdIos": "",
    "appIdAndroid": "",
    "appIdWeb": ""
  }
}
