{
  "projectId": "",
  "environment": "production",
  "authProviders": {
    "email": true,
    "google": {
      "enabled": true,
      "clientId": "",
      "clientSecret": ""
    }
  },
  "firestore": {
    "region": "us-central1"
  },
  "web": {
    "appId": "",
    "apiKey": "",
    "authDomain": "",
    "storageBucket": "",
    "messagingSenderId": "",
    "measurementId": ""
  }
}
